.stampitem(id= stamplisting._id, onclick='goToStamp(this);')
  .stampitem-image
    img
  .stampitem-left
    - if(stamplisting.issuedBy)
      .stampitem-issuedBy
        label.bold  Issued By: 
        label.normal= stamplisting.issuedBy
    - if(stamplisting.issueYear)
      .stampitem-issueYear
        label.bold  Issue Year: 
        label.normal= stamplisting.issueYear
    - if(stamplisting.issueDate)
      .stampitem-issueDate
        label.bold  Issue Date: 
        label.normal= stamplisting.issueDate
    - if(stamplisting.faceValue)
      .stampitem-faceValue
        label.bold  Face Value:  
      -if(stamplisting.currency && stamplisting.currency.length > 0 && stamplisting.currency[0])
        label.normal= stamplisting.faceValue + ' ' + stamplisting.currency[0].symbol
      -else
        label.normal= stamplisting.faceValue      
    - if(stamplisting.color)
      .stampitem-color
        label.bold  Color: 
        label.normal= stamplisting.color
  .stampitem-middle
    - if(stamplisting.series)
      .stampitem-series   
        label.bold  Series: 
        label.normal= stamplisting.series
    - if(stamplisting.design)
      .stampitem-design   
        label.bold  Design: 
        label.normal= stamplisting.design
    - if(stamplisting.perf)
      .stampitem-perf   
        label.bold  Perforation: 
        label.normal= stamplisting.perf
    - if(stamplisting.collections && stamplisting.collections.length > 0)
      .stampitem-collections   
        label.bold  Collections: 
        label.normal= stamplisting.collections
    - if(stamplisting.tags && stamplisting.tags.length > 0)
      .stampitem-tags   
        label.bold  Tags: 
        label.normal= stamplisting.tags
  .stampitem-right
    each identifier in stamplisting.identifiers
      - if(identifier.value && identifier.value.length  > 0)
        .stampitem-identifier
          label.bold= identifier.name + ': '
          label=  identifier.value
.stampitem-actions
    label.deleteStamp delete
    label.submitToSandbox copy to sandbox
label#toaster