- var wantImageNav = true
	include _searchcriteria
.toprail
	.country
		label Country:
		input#issuedBy.styled(type='text', name='issuedBy', value=stamp.issuedBy || '')
	.year
		label Year:
		input#issueYear.styled(type='text', name='issueYear', maxlength=4, value=stamp.issueYear || '')
	.monthday
		label Date: 
		input.styled.updateStamp(type='text', id='issueDate', name='issueDate', value=stamp.issueDate || '')
	.series
		label Series:
		input.styled.updateStamp(type='text', name='series', value=stamp.series || '')
.slider-container
	.catalog
		label Catalog:
		input#defaultcatalog(type='checkbox')	
	.prv
		img.goToPreviousCatalog(src='/images/previous.png')
	.slider
		ul#catalogSlider
			include _cataloglisting
	.nxt
		img.goToNextCatalog(src='/images/next.png')
	.slidercontrols
		label Cat # :
		input#catalognumber.styled.catalognumber.addOrUpdateIdentifier(type='text')
		input#currentCatalogId(type='hidden')
	.watermark
		label Wmk:
		input#wmk.styled.addOrUpdateIdentifier(type='text')
	.design
		label Design:
		input.styled.updateStamp(type='text', name='design', value=stamp.design || '')
.left
	#imageContainer.largeimage
		img#dropImage
		input#currentImageId(type='hidden')
	input#defaultimage(type='checkbox', title='This image will diplay on album pages')				
	.imagecaption
		label Caption:
		input.styled.setImageCaption(id='imagecaption', type='text')
	.imagenav
		input#navFirst(type='image', src='/images/first.png')
		input#navPrevious(type='image', src='/images/previous.png')
		input#navNext(type='image', src='/images/next.png')
		input#navLast(type='image', src='/images/last.png')
		input#navRemove.removeImage(type='image', src='/images/remove.png')
.centerrail
	input#_id(type='hidden', name='_id', value=stamp._id || '')
	.currency
		.facevalue
			label Face Value:
			input.styled.updateStamp(type='text', name='faceValue', value=stamp.faceValue || '')
		.currencySymbol
			input#currencySymbol.styled(type='text', value=stamp.currency.length > 0 ? stamp.currency[0].symbol : '')
		.currencyName
			label Currency:
			input#currency.styled(type='text', value=stamp.currency.length > 0 ? stamp.currency[0].name : '')
	.colors
		label Colors:
		input#colors.styled.updateStamp(type='text', name='color', value=stamp.color || '')
	.paperprintingperf	
		.paper
			label Paper:
			input#paper.styled.updateStamp(type='text', name='paper', value=stamp.paper || '')			
		.printingMethod
			label Printing:
			input#printingMethod.styled.updateStamp(type='text', name='printingMethod', value=stamp.printingMethod || '')			
		.papercolor
			label Paper Color:
			input.styled.updateStamp(type='text', name='paperColor',  value=stamp.paperColor || '')			
		.perf
			label Perf:
			input.styled.updateStamp(type='text', name='perf', value=stamp.perf || '')
	.conditionandcomments
		.condition
			label Condition:
			input#condition.styled(type='text', name='condition', placeholder='mint/used', value=stamp.condition || '')
			input#centering.centering.styled(type='text', name='centering', placeholder='grade', value=stamp.centering || '')
			input#gumstate.gumstate.styled(type='text',  name='gumstate',  placeholder='gum', value=stamp.gumstate || '')
			input#conditioncomments.styled.updateStamp(type='text', name='conditioncomments',  placeholder='comments', value=stamp.conditioncomments || '')
		.comments
			label Comments:
			textarea.styled.updateStamp(name='comments',rows=8, value=stamp.comments || '')  #{stamp.comments}
.separator
.categorylabeltemplate
	label
	img(src='/images/grayx.png') 
.categories
	label Categories:
	input#categorysource.styled(type='text')
	input#addCategory(type='image', src='/images/arrow_right.png')
	.categorylabels
.collectionlabeltemplate
	label
	img(src='/images/grayx.png')
.collections
	label Collections:
	input#collectionsource.styled(type='text')
	input#addCollection(type='image', src='/images/arrow_right.png')
	.collectionlabels
.taglabeltemplate
	label
	img(src='/images/grayx.png')
.tags
	label Tags:
	input#tagsource.styled(type='text')
	input#addTag(type='image', src='/images/arrow_right.png')
	.taglabels
#popupImage
	a#popupImageClose x
	img#fullSizeImage
#backgroundPopup	
script
	stamp = !{JSON.stringify(stamp)};
	cataloglistings = !{JSON.stringify(cataloglistings)};
	initializeStamp();